# The configuration file consists of sections, led by a [section] header and followed by name: value entries,
# with continuations in the style of RFC 822 (see section 3.1.1, ?~@~\LONG HEADER FIELDS");
#
# time python /IPLlinux/raid0/homes/jforbes/git/BRAINSStandAlone/AutoWorkup/BRAINSTools/BTants/btp_exp.py -wfrun local_3 -ExperimentConfig /IPLlinux/raid0/homes/jforbes/git/BRAINSStandAlone/AutoWorkup/BRAINSTools/BTants/OSXTestExperiment.config -pe OSX_ENVIRONMENT
#
# The intent of this configuraiton file is to define all the information needed to completely run an experiment.
#
[EXPERIMENT_DATA]
#   A file listing the file location for initial images: one per line.
SESSION_DB=/IPLlinux/raid0/homes/jforbes/git/BRAINSStandAlone/AutoWorkup/BRAINSTools/BTants/image.list
# The desired output directory for this experiment
EXPERIMENTNAME=TEST_3images_OSX_cluster

[OSX_ENVIRONMENT]
_GRAPHVIZ_BIN_DIR=/usr/local
_ANTS_BIN_DIR=/hjohnson/HDNI/ANTS_TEMPLATE_BUILD/ANTS-Darwin-clang/bin/
# The base directory where all experiments of this type go
#BASEOUTPUTDIR=/hjohnson/HDNI/ANTS_TEMPLATE_BUILD
#BASEOUTPUTDIR=/scratch/antsbuildtemplate
BASEOUTPUTDIR=/ipldev/scratch/jforbes/nipype_ants_build_template
## The cluster queue to use for submitting jobs.
CLUSTER_QUEUE=-q OSX

############## -- You should not need to modify below here. ##############
# Where to find the Autoworkup scripts.
_ANTS_NIPYPE_SCRIPTS=/IPLlinux/raid0/homes/jforbes/git/BRAINSStandAlone/AutoWorkup/BRAINSTools/BTants
# Where SimpleITK, and other non-standard python packages reside
#                   /ipldev/sharedopt/20120201/python-site-packages/lib/python2.7/site-packages/
_NIPYPE_CUSTOM_SUPPORT=/ipldev/sharedopt/20120201/Darwin_i386/PYTHON_MODULES/lib/python2.7/site-packages
# Where nipype itself is located
_NIPYPE_CUSTOM_PATH=/ipldev/sharedopt/20120201/Darwin_i386/nipype
PYTHON_AUX_PATHS=%(_ANTS_NIPYPE_SCRIPTS)s:%(_NIPYPE_CUSTOM_PATH)s:%(_NIPYPE_CUSTOM_SUPPORT)s
# Where to find BRAINSTools
# Paths that need to be configured to find tools needed to run this workflow
PROGRAM_PATHS=%(_ANTS_BIN_DIR)s:%(_GRAPHVIZ_BIN_DIR)s
